<style>
.aboutDialog {
    font-size: 14px;
}

#licenseInfo a {
    font-size: 10px;
    font-weight: 700;
}
</style>
<div class="aboutDialog">
    <div id="licenseInfo">
        <h3>Mock-Rest</h3>
        Version: 0.1<br /> 著作權 © 2013 耀宏科技。版權所有。<br /> Copyright
        2013 S-Team Inc. All rights reserved.
    </div>
    <div id="contactInfo">
        <hr />
        <h4><a href="#licenseInfo">技術支援</a></h4>
        <pre>公司地址    台北市內湖區洲子街 110 號 6 樓
公司電話    (02)2627-1069
公司傳真    (02)2736-6875
服務信箱    support@s-team.com.tw
</pre>
    </div>
</div>